:root {
    --background-color-winter-sea: #303B59;
    --color-white: #FFFFFF;
    --background-color-royal-vessel: #4535f2;
    --background-color-bubble-bobble-green: #04B200;
    --color-placebo-green: #EAFFE7;
    --color-child-of-the-night: #280274;
    --background-color-clear-skies: #E9F6FF;
    --color-light-periwinkle: #c6c6fc;
    --color-stieglitz-silver: #8E8E8E;
    --background-shadow-cotton-boll: #e9eefe;
    --background-red: #fff7f6;
    --color-red: #e76a68;
    --background-yellow: #fffbf2;
    --color-yellow: #ffc14a;
    --background-green: #f3fafa;
    --color-green: #45a184;
    --background-blue: #f3f3fd;
    --color-blue: #131fa5;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
    font-family: Lato;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.result-summary {
    display: flex;
    box-shadow: 10px 10px 10px 10px rgb(233, 238, 254);
    background-color: var(--color-white);
    border-radius: 30px;
}


/* Card-One */


.conclusion {
    width: 350px;
    background: linear-gradient(to bottom, #6743ff, #322deb);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section-title-one {
    color: var(--color-light-periwinkle);
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}

.resul-score {
    color: var(--color-light-periwinkle);
    text-align: center;
    padding: 15px;
    width: 150px;
    height: 150px;
    background: linear-gradient(to top, #4F39F6, #4d22ca);
    border-radius: 50%;
}

.status-section{
    color: var(--color-light-periwinkle);
    text-align: center;
}

.colorful-number {
    color: var(--color-white);
    font-size: 60px;
    font-weight: 700;
}


.success-status {
    color: var(--color-white);
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}


/* Card-Two */

.summary {
    width: 350px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 20px;
}

.section-title-two {
    color: var(--background-color-winter-sea);
    font-weight: 600;
}

.observation {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.summary-item {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
}


.summary-score {
    color: var(--color-stieglitz-silver);
}

.summary-item-title {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
}

.summary-item.one {
    color: var(--color-red);
    background-color: var(--background-red);

}

.summary-item.two {
    color: var(--color-yellow);
    background-color: var(--background-yellow);
}

.summary-item.three {
    color: var(--color-green);
    background-color: var(--background-green);
}

.summary-item.four {
    color: var(--color-blue);
    background-color: var(--background-blue);
}

.summary-score span {
    font-weight: 700;
    color: var(--background-color-winter-sea);
}

.button {
    color: var(--color-white);
    line-height: 1;
    background-color: var(--background-color-winter-sea);
    padding: 1rem 2rem;
    border: 0;
    border-radius: 30px;
}